<nav class="navbar navbar-expand-lg navbar-light" th:fragment="navbar" style="background-color: #eabf9f;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" width="5%">
    <img src="/assets/sha-256.svg" alt="logo" width="80" height="50"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-start">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/hash/bcrypt">BCrypt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/hash/scrypt">SCrypt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/hash/pbkdf2">Pbkdf2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/hash/sha-256">SHA-256</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/hash/sha-384">SHA-384</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/hash/sha-512">SHA-512</a>
        </li>
      </ul>
    </div>
  </div>
</nav>