<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div th:replace="fragments/nav :: navbar"></div>
<div class="container" id="main">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      Welcome to password hashing calculator.
    </div>
  </div>
  <div class="row justify-content-md-center">
  <div class="col-md-auto">
  Thanks for using this service :))
  </div>
  </div>
  </div>
</body>
</html>